.custom-marker-label{
  font-size: 10px;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}
.Admin-custom-marker-label{
  font-size: 10px;
  font-weight: bolder;
  text-align: center;
}



